pre.bash {
    background-color: black;
    color: #49fb35;
    font-size: small;
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

.icon-block {
padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.main-page-nav-wrapper {
  animation: .3s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%;
  }
  to {
    margin-left: 20%;
    width: 100%;
  }
}

.code-toolbar {
  margin-bottom: 2em;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}