<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>DevPods</title>

  <!-- Init CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.css" integrity="sha512-Dqf5696xtofgH089BgZJo2lSWTvev4GFo+gA2o4GullFY65rzQVQLQVlzLvYwTo0Bb2Gpb6IqwxYWtoMonfdhQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="static/css/main.css">

  <!-- Init PrismJS for markdown style code block and copy-to-clipboard -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js" integrity="sha512-7Z9J3l1+EYfeaPKcGXu3MS/7T+w19WtKQY/n+xzmw4hZhJ9tyYmcUS+4QqAlzhicE5LAfMQSF3iFTK9bQdTxXg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-bash.min.js" integrity="sha512-whYhDwtTmlC/NpZlCr6PSsAaLOrfjVg/iXAnC4H/dtiHawpShhT2SlIMbpIhT/IL/NrpdMm+Hq2C13+VKpHTYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/toolbar/prism-toolbar.min.js" integrity="sha512-st608h+ZqzliahyzEpETxzU0f7z7a9acN6AFvYmHvpFhmcFuKT8a22TT5TpKpjDa3pt3Wv7Z3SdQBCBdDPhyWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js" integrity="sha512-/kVH1uXuObC0iYgxxCKY41JdWOkKOxorFVmip+YVifKsJ4Au/87EisD1wty7vxN2kAhnWh6Yc8o/dSAXj6Oz7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
  <body>
    <nav class="light-blue blue" role="navigation">
      <ul class="right hide-on-med-and-down">
        {% for item in menu_items %}
        {% if item == "Home" %}
        <li><a href="/create">{{ item }}</a></li>
        {% else %}
        <li><a href="{{ item|lower }}">{{ item }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class="container"><br><br><br><br>
      <h1 class="header center darken-3">Instance Created</h1>
      <div class="row center">
        <h5 class="header col s12 light">Deployment Information</h5>
        <div class="row center">
          <table class="striped">
            <thead>
              <tr>
                  <th>Namespace</th>
                  <th>Deployment Name</th>
                  <th>Backups</th>
                  <th>Shell</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ namespace }}</td>
                <td>{{ deploymentName }}</td>
                <td>{{ backupState }}</td>
                <td>{{ shell }}</td>
              </tr>
            </tbody>
          </table><br><br>
          </div>
          <div class="row">
            <h5 class="header col s12 light">SSH Configuration</h5>
          </div>
           <pre>
            <code class="language-bash">
Host {{ deploymentName }}
Hostname {{ deploymentName }}-{{ namespace }}.k8s.unreliable.cloud
User ubuntu
Port 22
PubkeyAuthentication yes
IdentityFile ~/.ssh/id_rsa
StrictHostKeyChecking no
            </code>
           </pre>
  </body>
</html>
